*{
  font-size: 14pt;
}
body{
  background-color: rgb(180, 179, 179);
  
}
.container{
    height: 100%;
    padding: 20px;
    position: relative;
    top: -60px;
    background-color: white;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  }
  .pad{
    padding: 8px;
  }
  .img-banner{
    width: 100%;
    height: 45%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  }

  .heading{
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
  }
  .description{
    /* padding: 8px; */
  }
  .w1{
    font-size: x-large;
    font-weight: bold;
  }
  .description{
    text-align: justify;
  }
  .overview{
    /* padding: 8px; */
  }
  .subheading{
    font-size: 20pt;
    font-weight: bold;
  }
  .icon{
    height: 80px;
    width: 80px;
    padding: 8px;
    margin-left: 8px;
  }
  .row{
    display: flex;
    flex-direction: row;
   
  }
  .column{
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .item-card{
    margin-left: 2px;
    align-items: center;
    width: 100%;
    border-left: 3px solid red;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  }
  .s-name{
    font-size: x-large;
    
  }
  .s-location{
    font-size: small;
    color: grey;
  }
  .suppliers{
    justify-content: center;
  }

  @media(min-width: 1020px){
    .main-body{
      width : 50%;
      display: table;
      margin: 0 auto;
    }
    body{
      display: table;
      margin: 0 auto;
    }
   
  }